@model PressDot.Contracts.Model.ForgotPasswordModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PressDots Forgot Password</title>
    <style>
        body{font-family:Calibri, sans-serif;font-size: 11pt;color: #555;}
        blockquote{border-left: 8px solid #cceeaa;font-size: 12pt;margin:0;padding: 30px 60px;}
    </style>
</head>
<body>
<h1>PressDots Forgot Password</h1>
<p>Dear @Model.Firstname:</p>
    
<p>Click <a href="@(Model.WebsiteUrl)resetpassword/?token=@(Model.Token)">here</a> to reset account password. </p>
</body>
</html>